language: python
branches:
  only:
    - master
python:
  - "2.7"
  - "3.5"
services:
  - docker
install:
  - pip install -r requirements.txt
  - pip install -r test-requirements.txt
notifications:
  email:
  - apslite-ci@odin.com
script:
  - python setup.py flake8
  - python setup.py nosetests
after_success:
  - bash <(curl -s https://codecov.io/bash)
  - export REPO=ingrammicrocloud/fallball-connector
  - docker build -t $REPO .
  - docker tag $REPO $REPO:latest
  - docker tag $REPO $REPO:$TRAVIS_BUILD_NUMBER
  - docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD"
  - docker push $REPO
